@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto&display=swap');
/* font-family: "Roboto", sans-serif; */
/* font-family: "Poppins", sans-serif; */

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); 
    src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); 
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot');
    src: url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), 
         url('../fonts/poppins-v20-latin-500.woff') format('woff'), 
         url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), 
         url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot');
    src: url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), 
         url('../fonts/poppins-v20-latin-600.woff') format('woff'), 
         url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), 
         url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg');
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot');
    src: url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), 
         url('../fonts/poppins-v20-latin-700.woff') format('woff'), 
         url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), 
         url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.eot');
    src: url('../fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), 
         url('../fonts/poppins-v20-latin-800.woff') format('woff'), 
         url('../fonts/poppins-v20-latin-800.ttf') format('truetype'), 
         url('../fonts/poppins-v20-latin-800.svg#Poppins') format('svg');
  }

  /* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot');
    src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), 
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), 
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot');
    src: url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-500.woff') format('woff'), 
         url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), 
         url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontfamily);
}
:root{
    --orangetext:#eb8072;
    --fontfamily:'poppins';
    --bigtextcolor:#282f4b;
    --smalltextcolor:#555;
}
.container{
    width: 1170px;
    margin: auto;
}
.spacer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.justify-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    align-items: center;
    display: flex;
}
.aligh-top{
    display: flex;
    align-items: flex-start;
}
.text-center{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
.fixed 
{
     position: fixed;
     top:0; 
     left:0;
     width: 100%; 
     z-index: 999;
}
header.sticky.fixed{
     background-color: #fff;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
}


/* start top to bottom section */
.go-top {
    position:fixed;
    bottom: 3%;
    right: 2%;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    color: #fff;
    font-size: 19px;
    display:none;
    cursor: pointer;
    background-color: var(--orangetext);
  }
  .go-top i{
    position: absolute;
    top: 30%;
    left: 30%;
  }



/* start loader section */
.pre-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bigtextcolor);
    z-index: 9999;
}
.area-loader span{
    color: #888;
    font-size: 15px;
    font-weight: 400;
    font-family: 'roboto';
}


/* start header section */
header{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}
.main-menu li{

    position: relative;
}
.main-menu> li> a{
    padding: 40px 12px 35px;
    font-size: 14px;
    line-height: 1.6;
    color:rgb(40, 47, 75);
}
.signup-button{
    padding: 11px 28px;
    background-color: white;
    border: 2px solid var(--bigtextcolor);
    outline: none;
    border-radius: 4px;
    font-weight: 800;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-family: var(--fontfamily);
    margin-left: 10px;
    cursor: pointer;
    &:hover{
        border: 2px solid var(--orangetext);
        transition: .3s;
    }
}
.signup-button i{
    font-size: 11px;
    padding-right: 3px;
}

/* slider section */
.slider-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.first-slider{
    padding: 0 15px;
}
#slider{
    padding: 180px 0 100px;
}
.main-second-slider img{
    width: 585px;
    height: 424px;
}
.main-forst-dlifer h2{
    font-size: 50px;
    color: var(--orangetext);
    line-height: 1.1;
}
.intro-box{
    margin-top: 40px;
}
.intro-box img{
    height: 70px;
    width: 70px;
}
.intro-details{
    padding-left: 22px;
}
.intro-details h4{
    letter-spacing: 0.2px;
    line-height: 1.1; 
    font-size: 17px;
    color: var(--bigtextcolor);
    margin-bottom: 7px;
}
.intro-details p{
    letter-spacing: 0.2px;
    line-height: 2; 
    font-size: 14px;
    opacity: 0.8;
    color: var(--bigtextcolor);
}
.free-btn{
    padding: 11px 28px;
    background-color: var(--orangetext);
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 38px;
    transition: .3s;
    margin-left: 15px;
    &:hover{
        background-color: transparent;
        border: 2px solid var(--orangetext);
        color: var(--orangetext);
    }
}

/* start slider content */
.content-bg{
    background-color: var(--bigtextcolor);
    padding: 70px 0;
}
.client-icons img{
    opacity: 0.3;
    transition: .4s;
    margin: 0 12px;
    display: block;
    &:hover{
        opacity: 1;
    }
}
.client-icons li{
    padding: 0 30px;
}

/* start accordian section */
.accirdian-grid{
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 58% 42%;
}
.accordisn-img{
    padding: 0 15px;
}
.accordisn-img img{
    width: 652px;
    height: 505px;
}
.accordian-content{
    padding: 0 15px;
}
.accordian-content h1{
    font-size: 38px;
    line-height: 48px;
    color: var(--bigtextcolor);
    font-weight: 700;
}
.accordian-content p{
    font-size: 14px;
    line-height: 28px;
    color: var(--smalltextcolor);
    font-weight: 400;
    padding: 20px 0;
    margin-bottom: 15px;
}

.accordian{
    margin:0px auto;
    width: 500px;
  }
  .accordian .headeing{
    background: transparent;
    border: 1px solid #ddd;
    padding: 17px 20px;
    cursor:pointer;
    color: #000;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    font-family: var(--fontfamily);
}
.main-accordian{
    margin-bottom: 18px;
}
.accordian .accordian-parag{
    margin-bottom: 15px;
    display:none;
    padding:20px 25px;
    color: #555;
    font-size: 15px;
    line-height: 24px;
    font-family: 'roboto';
    font-weight: 300;
    border: 1px solid #ddd;
    border-top: none;
  }
  .accordian h3 i{
    float: left;
    margin-top: 7px;
    margin-right: 15px;
    font-size: 12px;
  }
  .accordian-bg{
    background-color: #fefcfb;
  }


  /* start service section */
  .service-bg{
    background-color: var(--bigtextcolor);
    background-image: url(/images/asset\ 21.svg);
    padding-bottom: 100px;
  }
  .main-title{
    padding: 80px 0;
  }
  .main-title h4{
    color: var(--orangetext);
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
  }
  .main-title p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    font-weight: 400;
}
.main-service-content{
    padding: 0 15px;
}
.grid-service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.first-service,.third-service{
    padding: 0 15px;
    padding-top: 150px;
}
.scnd-service{
    padding: 0 15px;
}
.main-content{
    padding: 35px 35px 20px;
    position: relative;
    text-align: left;
    background-color: #fff;
    border-radius: 7px;
}
.main-contents{
    padding: 35px 35px 20px;
    position: relative;
    text-align: left;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 50px;
}
.main-content img,
.main-contents img{
    height: 80px;
    width: 80px;
}
.main-content h2,.main-contents h2{
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;
    margin: 15px 0 10px;
}
.main-content p,.main-contents p{
    color: #555;
    line-height: 28px;
    font-weight: 400;
    font-size: 14px;
}


/* testimonial slider */
.testi-bg{
    background-image: url(/images/asset\ 22.svg);
    padding-bottom: 50px;
}
.main-titles{
    padding: 80px 0;
  }
  .main-titles h4{
    color: var(--bigtextcolor);
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
  }
  .main-titles p{
    font-size: 16px;
    color: var(--smalltextcolor);
    line-height: 28px;
    font-weight: 400;
}
.single-item{
    margin-left: 40px;
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    border: 2px solid #e4e8ee;
}
.testi-icon i{
    font-size: 52px;
    color: var(--bigtextcolor);
    margin: 15px auto 10px;
}
.single-item p{
    font-size: 15px;
    color: var(--smalltextcolor);
    line-height: 28px;
    font-weight: 400;
    padding: 1px 70px 15px;
    margin-bottom: 10px;
}
.author-name{
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    color: var(--orangetext);
    margin-bottom: 3px;
}
.author-job{
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    color: #555;
    margin-bottom: 5px;
}
#slider1 .owl-carousel{
    padding: 0 200px;
}
#slider1.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
    transition: opacity .3s ease;
}
#slider1.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: transparent;
    height: 8px;
    width: 8px;
    border: 1px solid #000;
    transition: opacity .3s ease;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 3px;
    background: transparent;
    display: block;
    border: 1px solid #a3a3a3;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.learn-bg{
    background-color: var(--orangetext);
    padding: 55px 0;
}
.loarn-content{
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
}
.learn-btn{
    padding: 12px 28px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border-radius: 4px;
    transition: .3s;
    &:hover{
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
    }
}
.learn-btn i{
    font-size: 12px;
    padding-left: 10px;
}



/* start agency section */
.agency-bg{
    background-color: #fefcfb;
    margin-top: 100PX;
    padding: 100px 0;
}
.agency-grid{
    display: grid;
    grid-template-columns: 43% 57%;
}
.main-right-agency img{
    width: 682px;
    height: 393px;
}
.left-agency{
    padding: 0 15px;
}
.left-agency h1{
    font-size: 38px;
    line-height: 50px;
    color: var(--bigtextcolor);
    font-weight: 700;
}
.left-agency p{
    font-size: 14px;
    line-height: 30px;
    color: var(--smalltextcolor);
    font-weight: 400;
    padding: 21px 0;
    margin-bottom: 15px;
}
.service-btn{
    padding: 11px 28px;
    background-color: var(--orangetext);
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    transition: .3s;
    &:hover{
        background-color: transparent;
        border: 2px solid var(--orangetext);
        color: var(--orangetext);
    }
}


/* start service section */
.single-service{
    border: 2px solid var(--orangetext);
    border-radius: 7px;
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.main-service{
    padding: 0 15px;

}
.service-img img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 456px !important;
}
.service-content{
    padding: 20px;
    color: #fff;
}
.service-author{
    margin: 5px 0 5px;
    font-weight: bold;
    font-size: 20px;
}
.service-job{
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;  
    opacity: 0.5;
    margin: 6px 0;
}
.service-icon i{
    padding: 0 8px;
    color: #fff;
}



/* start contact section */
#contact{
    padding: 150px 0 160px 0;
}
.main-contact h4{
    font-size: 36px;
    color: var(--bigtextcolor);
    line-height: 1.1;
    font-size: 600;
}
.main-contact p{
    color: var(--smalltextcolor);
    font-size: 16px;
    padding: 13px 0 15px;
    margin-bottom: 10px;
}
.input-btn{
    height: 51px;
    padding: 0 20px;
    font-size: 14px;
    background: transparent;
    border: 2px solid #e5e5e5;
    color: #000;
    border-radius: 7px;
    font-weight: 700;
    width: 33%;
    &:focus{
        outline: none;
    }
}
.subscribe-btn{
    padding: 13.8px 28px;
    background-color: var(--orangetext);
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    transition: .3s;
    margin-left: 20px;
    &:hover{
        background-color: transparent;
        border: 2px solid var(--orangetext);
        color: var(--orangetext);
    }
}


/* map section */
.map-title h1{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 4px;
}
.map-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

/* start footer section */
.footer-bg{
    background-color: var(--bigtextcolor);
    padding: 80px 0;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.main-footer{
    padding: 0 15px;
}
.main-footer h5{
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 0px;
}
.main-footer li a{
    color: #999;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    transition: .3s;
    margin-bottom: 10px;
    &:hover{
        color: #eb8072;
    }
}
.main-footer img{
    margin-bottom: 14px;
    width: 150px;
    height: 44px;
}
.logo-footer img{
    width: 125px;
    height: 47px;
    margin: 0;
    margin-bottom: 20px;
}
.main-footer p{
    font-size: 14px;
    color: #999;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 19px;
}
.footer-icon i{
    font-size: 21px;
    color: #fff;
    padding-right: 10px;
}
.copy-bg{
    background-color: #1f253a;
    padding: 40px 0;
}
.copy-content{
    font-size: 14px;
    color: #fff;
    font-family: 'roboto';
}